@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

html {scroll-behavior: smooth;}

body 
{
    min-height: 1000px;
}

.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 57px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 55px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
  header,
  header .sticky
  {
      padding: 5 50px;
      background: #fff;
  }

  header ul
  {
      position: absolute;
      top:60px;
      left: 0;
      width:100%;
      height: 100vh;
      text-align: center;
      overflow: auto;
      background: #fff;
      visibility: hidden;
      opacity: 0;
  }

  header .active ul
  {
      visibility: visible;
      opacity: 1;
      display: block;
  }

  header .logo,
  header ul li a
  {
      color: #000;
  }
  .banner
  {
    background-position: center;
  }

}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}


header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky 
{
    padding: 5px 10px;
    background: whitesmoke;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo 
{
    position: relative;
    font-weight: 700;
    color:black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a
{
    color: red;
}

header ul 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    position: relative;
    list-style: none;
} 

header ul li a 
{
    position: relative;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.6s;
}

.banner 
{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 
{
    color: black;
    font-size: 95px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.banner h2 span 
{
    color: red;
}

.sec 
{
    background: #f8f9f4;
    padding: 100px;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content
{
    position: relative;
    text-align: center;
    width: 100%;
}

.content_box
{
    max-width: 800px;
    margin: 0 auto;
}

h3 
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p 
{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn 
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: black;
    text-decoration: none;
    color: white;
}

.support
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
}

.support .box 
{
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.05);
}

.support .box .iconBx
{
    margin-top: 25px;
}

.support .box .iconBx img
{
    max-width: 70px;
    margin-bottom: 25px;
}

.aupport .box h2
{
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.soft
{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

.soft h3,
.soft p
{
    color: white;
}

.softbox 
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.softbox h2
{
    color: white;
    font-size: 36px;
}

.softbox h4
{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.populer
{
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.populer .nick 
{
    position: relative;
    background: #4978ff;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.populer .nick:hover
{
    background: #000;
}

.populer .nick a 
{
    text-decoration: none;
    color: rgba(255,255,2555,0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.populer .nick:hover a 
{
    color: rgba(255,255,255,1);
} 

.teamBx
{
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member
{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details
{
    opacity: 1;
}

.teamBx .member .details h2 
{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span 
{
    display: block;
    font-size: 12px;
    font-weight: 300;
}

.contact
{
    background: #000;
}

.contact h3,
.contact p
{
    color: #fff;
}

.sci 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul 
{
    display: flex;
}

.sci ul li 
{
    list-style: none;
}

.sci ul li a img
{
    filter:invert(1);
    max-width: 40px;
}

.sci ul li a:hover img
{
    opacity: 0.5;
}

.copyright a
{
    color: #fff;
}

/* responsive */

.toggle
{
    display: none;
}

@media (max-width: 992px)
{
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before
    {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle:after
    {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }


    header,
    header .sticky
    {
        padding: 5 50px;
        background: #fff;
    }

    header ul
    {
        position: absolute;
        top:60px;
        left: 0;
        width:100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }

    header .active ul
    {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    header .logo,
    header ul li a
    {
        color: #000;
    }
    .banner
    {
      background-position: center;
    }

}































